<div ng-controller="homeCtrl" layout="row"  ng-controller="sideNavCtrl">
      <md-sidenav md-component-id="left" class="md-sidenav-left blue darken-4">
        <md-list>

          </md-list>
      </md-sidenav>

      <md-sidenav  class=" cyan darken-4" style="height:100vh" md-is-locked-open="$mdMedia('min-width: 775px')" class="md-sidenav-left">
        <a href="#!/"><header class="nav-header" id="brandLogo">
          <h3>SIPRMNCH</h3>
          <md-divider></md-divider>
        </header></a>
        <div id="sideNavBody">
          <md-list>
            <a href="#!/createPost"> <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <h3>Create a post</h3>
                <p>You're feeling very, very hungry</p>
              </div>
             </md-list-item></a>
          </md-list>
        </div>

      </md-sidenav>


   <!--  </div> -->
  <div layout="column" layout-fill>
  <md-toolbar class=" blue-grey darken-4">
    <div class="md-toolbar-tools">
      <span>My App's Title</span>
       <md-button ng-show="$mdMedia('min-width: 775px')"ng-click="openLeftMenu()">
      Open Left Menu
    </md-button>

      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button href="/#!/login" ng-hide="loggedIn">
        Log In
      </md-button>
      <md-button href="/logout" ng-show="loggedIn">
        Log Out
      </md-button>
    </div>
  </md-toolbar>
    <md-content>




          <!-- This is the main view window -->

       <ng-view></ng-view>

         <!--  End main view window -->


    </md-content>
  </div>
</div>
