<div ng-show="error">
 you fucked up
</div>
<div class="container">
  <form role="form" ng-submit="logIn(null, identifier, password)">
    <md-input-container>
      <label>Username or Email</label>
        <input name="Username or Email" ng-model="identifier" required>
    </md-input-container>
    <md-input-container>
      <label>Password</label required>
        <input type="password" name="password" ng-model="password">
    </md-input-container>
    <md-button> Submit </md-button>
  </form>
  or login with facebook!
  <md-button ng-click="logIn('facebook')"><i class="fa fa-facebook fa-2x"></i></md-button>

  Or, don't have an account?

  <a href="/#!/register">Create one here!</a>
</div>
