<div style="margin-top: 90px" class="container">
  <md-card>
    <md-card-content>
      <form role="form" ng-submit="register()">
          <md-input-container>
            <label>Username</label>
              <input name="Username" ng-model="formData.username" required>
          </md-input-container>
          <md-input-container>
            <label>E-mail</label>
              <input name="E-mail" ng-model="formData.email" required>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
              <input type="password" name="password" ng-model="formData.password" required>
          </md-input-container>
          <md-input-container>
            <label>First Name</label>
              <input name="firstName" ng-model="formData.firstName">
          </md-input-container>
          <md-input-container>
            <label>Last Name</label>
              <input name="lastName" ng-model="formData.lastName">
          </md-input-container>

          <div class="form-group">
              <file-field class="btn" ng-model="uploadFile" ng-class="{'btn-success':uploadFile}" preview="previewImage">Select File</file-field>
               {{uploadFile.name}}
          </div>
          <md-button> submit </md-button>
        </md-card-content>
      </md-card>
      </form>

</div>