/*global*/
#chatBox{
width:100%;
height:300px;
overflow:scroll;
}
.avatar{
  height:90px;
  width:90px;
}
#chatWindow{
width:100%;
height: 300px;
overflow:scroll;
}
.photoView{
  height:250px;
  max-height:250px;
  min-height:250px;
  overflow: scroll !important;
  display: inline-block;
  white-space: nowrap;
  overflow-y: hidden;
  width: 100%;
  max-width:100%;
  min-width:100%;
}
#chatList{
  width: 100%;
  overflow: scroll;
  height: 300px;
}
.businessPhoto{
  display: inline-block;
  margin-right:8px;
}
.businessPhoto:last-child{
  margin-right:0;
}
md-checkbox .md-container:before{
  background-color: rgb(33,33,33);
  border-radius: 0;
}
#sideNavBody > md-list > md-list-item{
  border: 1px solid rgb(55,55,55);
  border-top:none;
  border-top-right-radius:3px;
  border-bottom-right-radius: 3px;
}
md-sidenav md-list.md-default-theme md-list-item.md-2-line .md-list-item-text p{
  color:rgb(77,77,77);
  font-family: 'Ubuntu', sans-serif;
  }
md-sidenav md-list.md-default-theme md-list-item.md-2-line .md-list-item-text h3{
  color:orange;
  font-family: 'Ubuntu', sans-serif;
  font-weight:400;
  }
md-sidenav.md-locked-open{
  top: 63px;
  position: fixed !important;
  width: 270px;
  min-width: 270px;
  max-width: 270px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
body{
   background-image: url(/images/footer_lodyas.png)
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
}
md-content.md-default-theme{
  background-image: url(/images/footer_lodyas.png)
}
p{
  margin-top: 10px;
  margin-bottom: 10px;
}
md-toolbar{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 250;
  position:fixed;
}
md-card{
  background-image: url(/images/restaurant_icons.png)
}
header{
  background-image: url(/images/footer_lodyas.png)
}
#brandLogo{
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
  min-height:149px;
  height:149px;
  max-height:149px;
}
#siprmnch{
  color: #0277bd;
}
#postColumn{
  margin-top:80px;
}
#businessCard{
  margin-top:90px;
}
/*global form stuff*/
label{
  color: rgba(0,0,0,0.54);
}
md-input-container.md-default-theme label{
  color: rgba(0,0,0,0.54);
}
/*Create a post*/
#createPostForm{
  padding:18px ;
}
#createPostPreview{
  padding:18px ;
  margin-right: 22px;
}
.md-input-container{
  border:1px solid gray;
}
#brandLogo{
  max-width:268px;
}
.md-select-label{
  padding-bottom:2px;
}
.fa-2x{
  margin-top: 14px;
}