<div class="container" style="margin-top:90px">
  <md-card>
    <md-card-content>
      <div layout="row">
        <div flex="60">
           <form role="form" ng-submit="update()">
          <md-input-container>
            <label>First Name</label>
              <input name="firstName" ng-model="formData.firstName">
          </md-input-container>
          <md-input-container>
            <label>Last Name</label>
              <input name="lastName" ng-model="formData.lastName">
          </md-input-container>
          <md-button style="color:white" class="md-raised teal"> Submit </md-button>
            </form>
        </div>
        <div flex="40" layout="column">
        <div>
          <p class="flow-text"> Upload a Profile Picture: </p>
          <div class="form-group">
              <file-field class="btn" ng-model="uploadFile" ng-class="{'btn-success':uploadFile}" preview="previewImage">Select File</file-field>
          </div>
          <br>
            <button class="btn btn-primary" ng-click="doUpload(true)">Submit</button>
        </div>
        <div>
          <p class="flow-text" ng-if="previewImage">Preview</p>
          <img ng-src="{{previewImage}}" width="200">
          <br>
            {{uploadFile.name}}
        </div>
        </div>
    <md-card-content>
  </md-card>
</div>